In [ ]:
import numpy as np
import pandas as pd

In [ ]:
array=np.array([3,np.nan,0.4,np.nan])
print(array)

[3.  nan 0.4 nan]

cleaning  missing data

In [ ]:
data_string='''ID,Gender,Salary,Country,Company,
1,Male,15000,India,Google
2,Female,45000,China,NaN
3,Female,25000,India,Google
4,NaN,NaN,Australia,Google
5,Male,NaN,India,Google
6,Male,54000,NaN,Alibaba
7,NaN,74000,China,NaN
8,Male,14000,Australia,NaN
9,Female,15000,NaN,NaN
10,Male,33000,Australia,NaN'''
with open('salary.csv','w')as out:
          out.write(data_string)

In [ ]:
df = pd.read_csv('/content/salary.csv')
print('Salary Dataset: \n', df)

# Check for missing data
print('Missing Data\n', df.isna())

print('Missing Data\n', df.isnull())

# Print only missing data
print('Filter based on columns: \n', df[df.isnull().any(axis=1)]) 

# Sum up the missing values
print('Sum up the missing values: \n', df.isnull().sum())

Salary Dataset:
    ID  Gender   Salary    Country  Company  Unnamed: 5
0   1    Male  15000.0      India   Google         NaN
1   2  Female  45000.0      China      NaN         NaN
2   3  Female  25000.0      India   Google         NaN
3   4     NaN      NaN  Australia   Google         NaN
4   5    Male      NaN      India   Google         NaN
5   6    Male  54000.0        NaN  Alibaba         NaN
6   7     NaN  74000.0      China      NaN         NaN
7   8    Male  14000.0  Australia      NaN         NaN
8   9  Female  15000.0        NaN      NaN         NaN
9  10    Male  33000.0  Australia      NaN         NaN
Missing Data
       ID  Gender  Salary  Country  Company  Unnamed: 5
0  False   False   False    False    False        True
1  False   False   False    False     True        True
2  False   False   False    False    False        True
3  False    True    True    False    False        True
4  False   False    True    False    False        True
5  False   False   False     True    False        True
6  False    True   False    False     True        True
7  False   False   False    False     True        True
8  False   False   False     True     True        True
9  False   False   False    False     True        True
Missing Data
       ID  Gender  Salary  Country  Company  Unnamed: 5
0  False   False   False    False    False        True
1  False   False   False    False     True        True
2  False   False   False    False    False        True
3  False    True    True    False    False        True
4  False   False    True    False    False        True
5  False   False   False     True    False        True
6  False    True   False    False     True        True
7  False   False   False    False     True        True
8  False   False   False     True     True        True
9  False   False   False    False     True        True
Filter based on columns:
    ID  Gender   Salary    Country  Company  Unnamed: 5
0   1    Male  15000.0      India   Google         NaN
1   2  Female  45000.0      China      NaN         NaN
2   3  Female  25000.0      India   Google         NaN
3   4     NaN      NaN  Australia   Google         NaN
4   5    Male      NaN      India   Google         NaN
5   6    Male  54000.0        NaN  Alibaba         NaN
6   7     NaN  74000.0      China      NaN         NaN
7   8    Male  14000.0  Australia      NaN         NaN
8   9  Female  15000.0        NaN      NaN         NaN
9  10    Male  33000.0  Australia      NaN         NaN
Sum up the missing values:
 ID             0
Gender         2
Salary         2
Country        2
Company        5
Unnamed: 5    10
dtype: int64

In [ ]:
df.dropna(inplace=True)
print(df)

Empty DataFrame
Columns: [ID, Gender, Salary, Country, Company, Unnamed: 5]
Index: []

In [ ]:
df["Salary"].fillna(20000,inplace=True)
print(df)

Empty DataFrame
Columns: [ID, Gender, Salary, Country, Company, Unnamed: 5]
Index: []

In [ ]:
df = pd.read_csv('/content/salary.csv')
print('Missing Data\n', df.isnull())

Missing Data
       ID  Gender  Salary  Country  Company  Unnamed: 5
0  False   False   False    False    False        True
1  False   False   False    False     True        True
2  False   False   False    False    False        True
3  False    True    True    False    False        True
4  False   False    True    False    False        True
5  False   False   False     True    False        True
6  False    True   False    False     True        True
7  False   False   False    False     True        True
8  False   False   False     True     True        True
9  False   False   False    False     True        True

In [ ]:
gender=pd.isnull(df["Gender"])
gender

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9    False
Name: Gender, dtype: bool

In [ ]:
df = pd.read_csv('/content/salary.csv')
print('NonMissing Data\n', df.notnull())

NonMissing Data
      ID  Gender  Salary  Country  Company  Unnamed: 5
0  True    True    True     True     True       False
1  True    True    True     True    False       False
2  True    True    True     True     True       False
3  True   False   False     True     True       False
4  True    True   False     True     True       False
5  True    True    True    False     True       False
6  True   False    True     True    False       False
7  True    True    True     True    False       False
8  True    True    True    False    False       False
9  True    True    True     True    False       False

In [ ]:
print('Drop Missing Company Data\n', df.Company.dropna())
df.dropna()

Drop Missing Company Data
 0     Google
2     Google
3     Google
4     Google
5    Alibaba
Name: Company, dtype: object

Empty DataFrame
Columns: [ID, Gender, Salary, Country, Company, Unnamed: 5]
Index: []

In [ ]:
df.dropna(axis=1)
print(df)

   ID  Gender   Salary    Country  Company  Unnamed: 5
0   1    Male  15000.0      India   Google         NaN
1   2  Female  45000.0      China      NaN         NaN
2   3  Female  25000.0      India   Google         NaN
3   4     NaN      NaN  Australia   Google         NaN
4   5    Male      NaN      India   Google         NaN
5   6    Male  54000.0        NaN  Alibaba         NaN
6   7     NaN  74000.0      China      NaN         NaN
7   8    Male  14000.0  Australia      NaN         NaN
8   9  Female  15000.0        NaN      NaN         NaN
9  10    Male  33000.0  Australia      NaN         NaN

In [ ]:
new_df=df.dropna(axis=0,how='any')
print(new_df)

Empty DataFrame
Columns: [ID, Gender, Salary, Country, Company, Unnamed: 5]
Index: []

In [ ]:
print('Fill Missing Data \n',df.fillna(0))

Fill Missing Data
    ID  Gender   Salary    Country  Company  Unnamed: 5
0   1    Male  15000.0      India   Google         0.0
1   2  Female  45000.0      China        0         0.0
2   3  Female  25000.0      India   Google         0.0
3   4       0      0.0  Australia   Google         0.0
4   5    Male      0.0      India   Google         0.0
5   6    Male  54000.0          0  Alibaba         0.0
6   7       0  74000.0      China        0         0.0
7   8    Male  14000.0  Australia        0         0.0
8   9  Female  15000.0          0        0         0.0
9  10    Male  33000.0  Australia        0         0.0

In [ ]:
print('Fill Missing Data \n',df.fillna(method='pad'))

Fill Missing Data
    ID  Gender   Salary    Country  Company  Unnamed: 5
0   1    Male  15000.0      India   Google         NaN
1   2  Female  45000.0      China   Google         NaN
2   3  Female  25000.0      India   Google         NaN
3   4  Female  25000.0  Australia   Google         NaN
4   5    Male  25000.0      India   Google         NaN
5   6    Male  54000.0      India  Alibaba         NaN
6   7    Male  74000.0      China  Alibaba         NaN
7   8    Male  14000.0  Australia  Alibaba         NaN
8   9  Female  15000.0  Australia  Alibaba         NaN
9  10    Male  33000.0  Australia  Alibaba         NaN

In [ ]:
print('Fill Missing Data \n',df.fillna(method="bfill"))

Fill Missing Data
    ID  Gender   Salary    Country  Company  Unnamed: 5
0   1    Male  15000.0      India   Google         NaN
1   2  Female  45000.0      China   Google         NaN
2   3  Female  25000.0      India   Google         NaN
3   4    Male  54000.0  Australia   Google         NaN
4   5    Male  54000.0      India   Google         NaN
5   6    Male  54000.0      China  Alibaba         NaN
6   7    Male  74000.0      China      NaN         NaN
7   8    Male  14000.0  Australia      NaN         NaN
8   9  Female  15000.0  Australia      NaN         NaN
9  10    Male  33000.0  Australia      NaN         NaN

In [ ]:
print('Fill Missing Data \n',df["Gender"].fillna("NoGender",inplace=True))

Fill Missing Data
 None

In [ ]:
print(df.replace(to_replace='Google',value='Microsoft'))

   ID    Gender   Salary    Country    Company  Unnamed: 5
0   1      Male  15000.0      India  Microsoft         NaN
1   2    Female  45000.0      China        NaN         NaN
2   3    Female  25000.0      India  Microsoft         NaN
3   4  NoGender      NaN  Australia  Microsoft         NaN
4   5      Male      NaN      India  Microsoft         NaN
5   6      Male  54000.0        NaN    Alibaba         NaN
6   7  NoGender  74000.0      China        NaN         NaN
7   8      Male  14000.0  Australia        NaN         NaN
8   9    Female  15000.0        NaN        NaN         NaN
9  10      Male  33000.0  Australia        NaN         NaN

In [ ]:
print(df.interpolate(method='linear',limit_direction='forward'))

   ID    Gender        Salary    Country  Company  Unnamed: 5
0   1      Male  15000.000000      India   Google         NaN
1   2    Female  45000.000000      China      NaN         NaN
2   3    Female  25000.000000      India   Google         NaN
3   4  NoGender  34666.666667  Australia   Google         NaN
4   5      Male  44333.333333      India   Google         NaN
5   6      Male  54000.000000        NaN  Alibaba         NaN
6   7  NoGender  74000.000000      China      NaN         NaN
7   8      Male  14000.000000  Australia      NaN         NaN
8   9    Female  15000.000000        NaN      NaN         NaN
9  10      Male  33000.000000  Australia      NaN         NaN